<div class="container-fluid  bg-light">
    <div>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8"><br><br>
                <h1>Forgot Password</h1>
                <br>
                <form action="/verifyEmail" method="post">
                <div class="row">
                    <div class="col-sm-12 col-lg-12 col-md-12">
                        <div class="form-group">
                            <label for="Email">Email:</label>
                            <input type="Email" id="Email" class="form-control" name="Email"
                                placeholder="Enter your email">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6"> <input class="btn btn-primary" type="submit"
                            value="Get Otp" /></div>
                    <div class="col-md-6">
                        <p><a href="/" class="forget"><b>Cancle</b></a></p>
                    </div>
                </div>
                </form>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</div>